.betItemContainer {
  display: flex;
  flex-direction: column;
  background-color: #444;
  border-bottom: 2px solid #222;
  padding: 16px;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8px;
}

.info {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  color: #888;
  padding: 4px 0;
}

.remove {
  z-index: 9999;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  color: #888;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
}

.remove svg path {
  fill: #888;
}

.remove svg {
  margin: 0 4px;
  width: 10px;
}

.outcomeName {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.market {
  font-size: 12px;
  color: #999;
}

.outcomeName,
.market {
  padding: 4px 0;
}

.placeBet {
  z-index: 9999;
  background: green;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  height: 50px;
  padding: 4px 8px;
  width: 100%;
}
